### Import Data From the Web

In [4]:
import pandas as pd

In [5]:
url="https://data.sfgov.org/resource/wg3w-h783.csv?$query=SELECT%0A%20%20%60incident_datetime%60%2C%0A%20%20%60incident_date%60%2C%0A%20%20%60incident_time%60%2C%0A%20%20%60incident_year%60%2C%0A%20%20%60incident_day_of_week%60%2C%0A%20%20%60report_datetime%60%2C%0A%20%20%60row_id%60%2C%0A%20%20%60incident_id%60%2C%0A%20%20%60incident_number%60%2C%0A%20%20%60cad_number%60%2C%0A%20%20%60report_type_code%60%2C%0A%20%20%60report_type_description%60%2C%0A%20%20%60filed_online%60%2C%0A%20%20%60incident_code%60%2C%0A%20%20%60incident_category%60%2C%0A%20%20%60incident_subcategory%60%2C%0A%20%20%60incident_description%60%2C%0A%20%20%60resolution%60%2C%0A%20%20%60intersection%60%2C%0A%20%20%60cnn%60%2C%0A%20%20%60police_district%60%2C%0A%20%20%60analysis_neighborhood%60%2C%0A%20%20%60supervisor_district%60%2C%0A%20%20%60supervisor_district_2012%60%2C%0A%20%20%60latitude%60%2C%0A%20%20%60longitude%60%2C%0A%20%20%60point%60%2C%0A%20%20%60%3A%40computed_region_jwn9_ihcz%60%2C%0A%20%20%60%3A%40computed_region_jg9y_a9du%60%2C%0A%20%20%60%3A%40computed_region_h4ep_8xdi%60%2C%0A%20%20%60%3A%40computed_region_n4xg_c4py%60%2C%0A%20%20%60%3A%40computed_region_nqbw_i6c3%60%2C%0A%20%20%60%3A%40computed_region_viu7_rrfi%60%2C%0A%20%20%60%3A%40computed_region_26cr_cadq%60%2C%0A%20%20%60%3A%40computed_region_qgnn_b9vv%60%0AWHERE%20caseless_one_of(%60incident_year%60%2C%20%222023%22)"
c=pd.read_csv(url)
c

,incident_datetime,incident_date,incident_time,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,incident_number,cad_number,...,longitude,point,:@computed_region_jwn9_ihcz,:@computed_region_jg9y_a9du,:@computed_region_h4ep_8xdi,:@computed_region_n4xg_c4py,:@computed_region_nqbw_i6c3,:@computed_region_viu7_rrfi,:@computed_region_26cr_cadq,:@computed_region_qgnn_b9vv
0,2023-03-13T23:41:00.000,2023-03-13T00:00:00.000,23:41,2023,Monday,2023-03-13T23:41:00.000,125373607041,1253736,230167874,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-03-01T05:02:00.000,2023-03-01T00:00:00.000,05:02,2023,Wednesday,2023-03-11T15:40:00.000,125379506374,1253795,236046151,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-03-13T13:16:00.000,2023-03-13T00:00:00.000,13:16,2023,Monday,2023-03-13T13:17:00.000,125357107041,1253571,220343896,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-03-13T10:59:00.000,2023-03-13T00:00:00.000,10:59,2023,Monday,2023-03-13T11:00:00.000,125355107041,1253551,230174885,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-03-14T18:44:00.000,2023-03-14T00:00:00.000,18:44,2023,Tuesday,2023-03-14T18:45:00.000,125402407041,1254024,230176728,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023-08-28T15:30:00.000,2023-08-28T00:00:00.000,15:30,2023,Monday,2023-08-28T15:30:00.000,131251272000,1312512,230614314,232402174.0,...,-122.419669,POINT (-122.41966897380142 37.76505133632968),53.0,NaN,NaN,NaN,3.0,NaN,2.0,3.0
996,2023-08-28T06:40:00.000,2023-08-28T00:00:00.000,06:40,2023,Monday,2023-08-28T06:46:00.000,131244804134,1312448,230613021,232400470.0,...,-122.421570,POINT (-122.4215701166973 37.78661895979627),NaN,NaN,NaN,NaN,NaN,NaN,11.0,4.0
997,2023-08-13T00:00:00.000,2023-08-13T00:00:00.000,00:00,2023,Sunday,2023-08-28T18:45:00.000,131261028135,1312610,230615011,232403009.0,...,-122.410365,POINT (-122.41036544410379 37.79374703131433),16.0,NaN,NaN,NaN,NaN,NaN,3.0,6.0
998,2023-08-27T16:21:00.000,2023-08-27T00:00:00.000,16:21,2023,Sunday,2023-08-27T16:21:00.000,131228475000,1312284,230611768,232391925.0,...,-122.391096,POINT (-122.39109612051386 37.792436047188296),108.0,1.0,NaN,NaN,4.0,NaN,10.0,1.0
999,2023-08-27T18:25:00.000,2023-08-27T00:00:00.000,18:25,2023,Sunday,2023-08-27T18:30:00.000,131223527170,1312235,230612039,232392348.0,...,-122.405041,POINT (-122.40504139998343 37.787765494696465),19.0,NaN,NaN,NaN,NaN,NaN,3.0,6.0

### Save the original dataset into folder

In [12]:
## c.to_csv('data/raw_data_file.csv')